@use "../utilities" as *;

.pattern{

    img{
        max-width: 100%;
    }

    &--top{
        position: absolute;
        z-index: -1;
        pointer-events: none;
        top: rem(-462);
        left: rem(-748);

        @include breakpoint-up(medium){
            top: rem(-462);
            left: rem(-505);
        }

        @include breakpoint-up(large){
            top: rem(-462);
            left: rem(-122);
        }
    }

    &--bottom {
        position: absolute;
        z-index: -1;
        pointer-events: none;
        bottom: 0;
        right: 0;
        bottom: rem(-462);
        right: rem(-748);

        @include breakpoint-up(medium){
            bottom: rem(-462);
            right: rem(-505);
        }

        @include breakpoint-up(large){            
            bottom: rem(-462);
            right: rem(-122);
        }

    }

}